@font-face {
  font-family: "RobotoMono";
  src: url("./Fontes/RobotoMono-Italic-VariableFont_wght.ttf");
}

* {
  font-family: "RobotoMono", monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, #2b5876, #4e4376);
}

.Title {
  background: -webkit-linear-gradient(left, #ee0979 0%, #ff6a00 100%);
  background: linear-gradient(to right, #ee0979 0%, #ff6a00 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
